body{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    text-align: center;
}


#main{
    width: 626px;
    margin: 64px auto;   
}

h1{
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 32px;
    width: 494px;
    margin: 0 auto 16px;
}

h1 span{
    color: #EE24FF;
    font-weight: bold;
}

p{
    color: #828282;
    font-size: 15px;
    font-weight: normal;
    width: 540px;
    margin: 0 auto 32px;
}

p + p{
    width: 100%;
}


p strong{
    color: #3F3D56;
    font-weight: bold;
}

p span{
    font-weight: bold;
}

#main img{
    margin-bottom: 32px;
}

#footer{
    margin: 0px;
}

#footer a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #3F3D56;
}

#footer a + a{
    margin-left: 42px;
}


#footer #line{
    width: 391px;
    height: 0px; 
    border-top: 1px solid #ECEFF2;
    margin: 0 auto 16px;   
}

#footer #wave{
    width: 100%;
    margin: 40px auto 0px;
}
